*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
header
{
    width: 100%;
    line-height: 15vh;
    background-color: #20bf6b;
}
h1
{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing:10px;
    box-shadow: 0 1px 0 #efefef,
                0 2px 0 #efefef,
                0 3px 0 #efefef,
                0 4px 0 #efefef,
                0 30px 5px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Carter One', cursive;

}      
section
{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7bed9f;

}   
.gameArea
{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2ed573;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 10px;

}
h3
{
    color: black;
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
    margin-bottom: 10px;
    
}
input{

    width: 40%;
    padding: 15px 0;
    border-radius: 25px;
    outline: none;
    border:none;
    margin: 2rem 0;
    color:black;
    font-size: 1.1rem;
    background-color: #dff9fb;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
button.btn
{
    border: none;
    outline: none;
    padding :1rem 2rem;
    color: orangered;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:'Carter One', cursive; ;
    background: white;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}
.hidden
{
    display: none;
}